$red: #e84736;
$blue: #b7cbcd;
$yellow: #f7d600;

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

/* Primary text styles */
h1, h2 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 700;
}

h1, h3 {
  text-transform: uppercase;
}

p {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 300;
}

/* Nav */
nav {
  background-color: $red;

  ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  li {
    display: none;
  }
  
  li#register-menu {
    display: table-cell;
  }
  
  a {
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
  
  a:active, a:hover {
    text-decoration: none;
    color: #e84736;
  }
  
  .back {
    text-align: left;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    padding-left: 2em;
  }
  
  .back:hover {
    text-decoration: none;
    color: #e84736;
    background-color: #fff;
  }
}

/* Elements */

.button {
  a {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    
    border: 5px solid #ffffff;
    border-radius: 4px;
    
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  
  a:active, a:hover {
    color: #ffffff;
    opacity: .5;
  }  
}


/* Header */
header {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7d600;
  
  position: relative;
  height: 200px;
  
  .container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    vertical-align: baseline;
    height: 720px;
    
    z-index: 10;
  }
  
  h1, h2 {
    font-weight: 700;
  }
  
  .player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: url(../images/judes.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    opacity: .2;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  
  .player.active {
    opacity: 1;
  }
}

footer {
  background-color: #000;
  padding: 1em;
  
  color: #fff;
  font-size: 0.92em;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.block-outer {
  display: table;
  padding-bottom: 15px;
  padding-top: 15px;
}

.block-inner {
  background-color: #ffffff;
  
  height: 250px;
  display: table-cell;
  vertical-align: bottom;
  
  h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
  }
  
  h2 {
    font-size: 1.4em;
    text-align: left;
    margin-top: 0;
  }
}

.block-content {
  padding: 1em;
  
  background-color: #ffffff;
  opacity: 0.8;
}

/* Purpose */

.purpose {
  background-color: #b7cbcd;
}

/* Conference */
.conference {
  background-color: #f6f2cd;
  
  a {
    color: rgb(51,51,51);
    text-decoration: none;
  }
}

/* Speakers */
.speakers {
  background-color: #cfc1c1;
}

/* Seminars */
.seminars {
  background-color: $blue;
  
  a {
    color: rgb(51,51,51);
    text-decoration: none;
  }
}

.seminar-detail {
  
  border-bottom: 1px #ccc solid;
  padding: 32px 0;
  
  h1, h2, h3, p {
    text-align: left;
  }
  
  h2 {
    font-weight: 400;
    font-size: 1.7em;
  }
  
  .reading {
    background-color: #ccc;
    border-radius: 4px;
    padding: 2px 10px;
    margin-right: 4px;
  }
}

/* Schedule */
.schedule {
  background-color: #f6f2cd;


  ul {
    list-style: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    
    padding-left: 0;
  }
  
  li {
    background-color: #fff;
    margin-bottom: .3em;
    padding: .4em .5em;
  }
  
  li.header {
    background: none;
  }
}

/* Pricing */
.pricing {

  table {
    text-align: right;
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 2em;
    
    th {
      padding: 0 10px;
    }
    
    .info {
      font-size: 0.9em;
      font-weight: 400;
    }
    
  }

  ul {
    list-style: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    
    padding-left: 0;
  }
  
  li {
    margin-bottom: .3em;
    padding: .4em .5em;
  }
  
  li.highlight {
    background-color: $blue;
  }
  
  ul.header, li.header, li.skip {
    background-color: none;
  }
}

/* Register */
.register {
  background-color: #e84736;
  
  text-align: center;
  text-transform: uppercase;
}

li.skip, ul.header-right {
  display: none;
}

ul.header, li.header {
  background-color: none;
}

.left, .left p {
  text-align: left;
}

.right, .right p {
  text-align: right;
}

.small, .small p {
  font-size: 1.2em;
}

/* Questions */
.questions {
  background-color: lighten($yellow, 20%);
}

/* Sponsors */
.sponsors {
  .logo-list div[class^='col-'] {
    text-align: center;
    padding: 2em;
  }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

h1 {
  font-size: 2em;
}

h3 {
  letter-spacing: -0.02em;
}

header {
  padding-bottom: 40px;

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2em;
    letter-spacing: -0.05em;
    margin-top: -20px;
    margin-bottom: 120px;
  }
}

.button {
  a {
    padding: 5px 15px;
    font-size: 2em;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  nav {
    li {
      display: table-cell;
      border-left: 1px solid #fff;
    }
    
    ul {
      border-right: 1px solid #fff;
    }
    
    li:hover {
      background-color: #fff;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
    }
  }
  

  h1.giant {
    font-size: 6em;
    letter-spacing: -0.03em;
  }

  header {
  
    height: 480px;
    
    h1 {
      padding-top: 120px;
      font-size: 10em;
    }
    
    .video-button {
      margin-top: 200px;
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  header {
  
    height: 720px;
    
    h1 {
      margin-top: 180px;
    }
    
    .video-button {
      margin-top: 300px;
    }
  }
  
  li.skip, li.header {
    background: none;
    display: list-item;
  }
  
  ul.header-right {
    display: block;
    text-align: right;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  header {
    
    padding-top: 240px;
    
    .video-button {
      margin-top: 360px;
    }
  }

}



/* Assets */
.block-inner#peter-adam {
  background: url(../images/peter-adam.jpg) no-repeat center center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#richard-condie {
  background: url(../images/richard-condie.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#poverty {
  background: url(../images/poverty.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#asylum {
  background: url(../images/asylum.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#environment {
  background: url(../images/environment.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#indigenous {
  background: url(../images/indigenous.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#materialism {
  background: url(../images/materialism.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

// .block-inner#marriage {
//   background: url(../images/marriage.jpg) no-repeat center center;
// 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
// 
//   -webkit-filter: grayscale(40%);
//   -moz-filter: grayscale(40%);
//   filter: grayscale(40%);
// }

.block-inner#economics {
  background: url(../images/economics.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#religion {
  background: url(../images/mosque.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#workplace {
  background: url(../images/workplace.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.block-inner#mission {
  background: url(../images/mission.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

#big-more, #ministry-more {
  background: none;
  background: url(../images/coming-soon.png) no-repeat center center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


@media (max-width: 768px) {
  // make each table separate from other ones
  table {
  
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
      
    // make sure captions are displayed
    caption {
      display: block;
    }
    
    // wipe the thead from the face of the earth
    // modern screen readers will expose the 
    // generated content
    thead {
      display: none;
      visibility: hidden;
    }
    
    // make everything display block so it 
    // aligns vertically
    tbody, tr, th, td {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    
    // give each row a little space
    tr {
      margin-bottom: 1.5em;
    }
    
    // Labeling
    // adding a data-title attribute to the cells
    // lets us add text before the content to provide
    // the missing context
    // 
    // Markup: 
    //   <td data-title="Column Header">Content Here</td>
    //
    // Display:
    //   Column Header: Content Here
    th[data-title]:before,
    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
    }
    th:not([data-title]) {
      font-weight: bold;
    }
    
    // hide empty cells
    td:empty {
      display: none;
    }
  }
  
  .package {
    th {
      font-size: 1.6em;
      text-transform: uppercase;
    }
    
    td {
      text-align: right;
    }
    
    td:before {
      position: absolute;
      left: 16px;
      
      text-align: left;
    }
    
    td:after {
      content: '.00';
    }
    
  }
  
}