body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Primary text styles */
h1, h2 {
  text-align: center; }

h1, h2, h3 {
  font-weight: 700; }

h1, h3 {
  text-transform: uppercase; }

p {
  text-align: center;
  font-size: 1.8em; }

/* Nav */
nav {
  background-color: #e84736; }
  nav ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  nav li {
    display: none; }
  nav li#register-menu {
    display: table-cell; }
  nav a {
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
  nav a:active, nav a:hover {
    text-decoration: none;
    color: #e84736; }

/* Elements */
.button a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  border: 5px solid #ffffff;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
.button a:active, .button a:hover {
  color: #ffffff;
  opacity: .5; }

/* Header */
header {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7d600;
  position: relative;
  height: 200px; }
  header .container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    vertical-align: baseline;
    height: 720px;
    z-index: 10; }
  header h1, header h2 {
    font-weight: 700; }
  header .player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/judes.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .2;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  header .player.active {
    opacity: 1; }

footer {
  background-color: #000;
  padding: 1em;
  color: #fff;
  font-size: 0.92em; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }

.block-outer {
  display: table;
  padding-bottom: 15px;
  padding-top: 15px; }

.block-inner {
  background-color: #ffffff;
  height: 250px;
  display: table-cell;
  vertical-align: bottom; }
  .block-inner h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: left; }
  .block-inner h2 {
    font-size: 1.4em;
    text-align: left;
    margin-top: 0;
    display: none; }

.block-content {
  padding: 1em;
  background-color: #ffffff;
  opacity: 0.8; }

.block-inner:active h2, .block-inner:hover h2 {
  display: block; }

/* Purpose */
.purpose {
  background-color: #b7cbcd; }

/* Conference */
.conference {
  background-color: #f6f2cd; }

/* Speakers */
.speakers {
  background-color: #cfc1c1; }

/* Seminars */
.seminars {
  background-color: #b7cbcd; }

/* Schedule */
.schedule {
  background-color: #f6f2cd; }
  .schedule ul {
    list-style: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 0; }
  .schedule li {
    background-color: #fff;
    margin-bottom: .3em;
    padding: .4em .5em; }
  .schedule li.header {
    background: none; }

/* Pricing */
.pricing table {
  text-align: right;
  font-size: 1.8em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .pricing table th {
    padding: 0 10px; }
  .pricing table .info {
    font-size: 0.9em;
    font-weight: 400; }
.pricing ul {
  list-style: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0; }
.pricing li {
  margin-bottom: .3em;
  padding: .4em .5em; }
.pricing li.highlight {
  background-color: #b7cbcd; }
.pricing ul.header, .pricing li.header, .pricing li.skip {
  background-color: none; }

/* Register */
.register {
  background-color: #e84736;
  text-align: center;
  text-transform: uppercase; }

li.skip, ul.header-right {
  display: none; }

ul.header, li.header {
  background-color: none; }

.left, .left p {
  text-align: left; }

.right, .right p {
  text-align: right; }

.small, .small p {
  font-size: 1.2em; }

/* Questions */
.questions {
  background-color: #ffe95e; }

/* Sponsors */
.sponsors .logo-list div[class^='col-'] {
  text-align: center;
  padding: 2em; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
h1 {
  font-size: 2em; }

h3 {
  letter-spacing: -0.02em; }

header {
  padding-top: 60px;
  padding-bottom: 40px; }
  header h1 {
    font-size: 5em; }
  header h2 {
    font-size: 2em;
    letter-spacing: -0.05em;
    margin-top: -20px;
    margin-bottom: 120px; }

.button a {
  padding: 5px 15px;
  font-size: 2em; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav li {
    display: table-cell;
    border-left: 1px solid #fff; }
  nav ul {
    border-right: 1px solid #fff; }
  nav li:hover, nav li:active {
    background-color: #fff;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }

  h1.giant {
    font-size: 6em;
    letter-spacing: -0.03em; }

  header {
    height: 480px;
    padding-top: 60px;
    padding-bottom: 40px; }
    header h1 {
      font-size: 10em; }
    header .video-button {
      margin-top: 200px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    height: 720px; }
    header .video-button {
      margin-top: 300px; }

  li.skip, li.header {
    background: none;
    display: list-item; }

  ul.header-right {
    display: block;
    text-align: right; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header .video-button {
    margin-top: 360px; } }
/* Assets */
#peter-adam {
  background: url(../images/peter-adam.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#richard-condie {
  background: url(../images/richard-condie.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#poverty {
  background: url(../images/poverty.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#asylum {
  background: url(../images/asylum.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#environment {
  background: url(../images/environment.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#indigenous {
  background: url(../images/indigenous.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#materialism {
  background: url(../images/materialism.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#economics {
  background: url(../images/economics.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#religion {
  background: url(../images/mosque.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#workplace {
  background: url(../images/workplace.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#mission {
  background: url(../images/mission.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%); }

#big-more, #ministry-more {
  background: none;
  background: url(../images/coming-soon.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

@media (max-width: 768px) {
  table {
    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%; }
    table caption {
      display: block; }
    table thead {
      display: none;
      visibility: hidden; }
    table tbody, table tr, table th, table td {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal; }
    table tr {
      margin-bottom: 1.5em; }
    table th[data-title]:before,
    table td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold; }
    table th:not([data-title]) {
      font-weight: bold; }
    table td:empty {
      display: none; }

  .package th {
    font-size: 1.6em;
    text-transform: uppercase; }
  .package td {
    text-align: right; }
  .package td:before {
    position: absolute;
    left: 16px;
    text-align: left; }
  .package td:after {
    content: '.00'; } }
